TclTheme/awthemes.tcl -linguist-detectable
TclTheme/colorutils.tcl -linguist-detectable
TclTheme/demoscaled.tcl -linguist-detectable
TclTheme/demoscaledb.tcl -linguist-detectable
TclTheme/demottk.tcl -linguist-detectable
TclTheme/pkgIndex.tcl -linguist-detectable